body{
    background: black;
    color: greenyellow;
    min-height: 100vh;
}
header
{
   
     text-align:center;
     font-size: 600%;
     font-family:"Brush Script MT" , Brush Script Std, cursive;   
}
li
{
    font-family: "Amaranth";
     font-weight: 500;
     font-size: 500;
     color: whitesmoke;
     text-decoration:solid;
     height:400;
     
      
}


   
.bar
{
    height: 400;
    background-color:rgb(25, 212, 25);
    font-family: "Amaranth";
     font-weight: 500;
     font-size: 500;
     text-align: center;

     
}
 button
{
  background-color:rgb(223, 46, 23);
  border-radius: 20%;
  text-decoration-color:aliceblue;
}
button:hover
{
    
   background-color:black;
   height:400;

}
a
{
  color:rgb(25, 212, 25);
}
.bar li
{
    text-align: center;
    display: inline-block;
    padding: 0px 50px;
}

 
.image
{
  width:100%;
  text-align:center;
  height:550px;

}
.image img
{
  
    border-radius:100%;
    width:450px;
    clip-path :circle();
    

}
.intro
{
    text-align:center;
    font-family: "Amaranth";
    top:0%;
    height:-300px;
}
footer
{
  position : sticky;
  top: 100%;
  text-align: center;
  background-color:rgb(25,212,25);
  color:black
  
}
.bio
{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family:"Brush Script MT" , Brush Script Std, cursive; 
}


@media (max-width:800px) 
{
    header
    {
   
     text-align:center;
     font-size: 300%;
     font-family:"Brush Script MT" , Brush Script Std, cursive;   
    }
    .image img
    {
        height:550px;
        border-radius:100%;
        width:350px;
        clip-path :circle();
    }
   
    .intro
   {
        height:300px;
   }
    bio
  {
    margin: auto;
    width: 100%;
    padding: 10px;
    font-size:30px;
    text-align: center;
    font-family:"Brush Script MT" , Brush Script Std, cursive; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
    footer
   {
      position : sticky;
      top: 100%;
      text-align: center;
      font-size:10px;
      background-color:rgb(25,212,25);
      color:black
  
  }
}
